<html lang="pl">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

	<body class="h-screen flex flex-col items-center">
		<h1 class="text-xl font-semibold uppercase text-center">
			Curriculum vitae
		</h1>

		<div class="w-full h-4"/>

		<div class="w-full flex flex-col gap-2 px-3">
			<div class="flex flex-col">
				<label class="text-xs">Imię i nazwisko</label>
				<p class="m-0 p-0 px-1">Patryk Kwaśniok</p>
			</div>

			<div class="flex flex-col">
				<label class="text-xs">Data urodzenia</label>
				<p class="m-0 p-0 px-1">13.06.2005</p>
			</div>

			<div class="flex flex-col">
				<label class="text-xs">Miejsce zamieszkania</label>
				<p class="m-0 p-0 px-1">ul. Walentego Rakoniewskiego 14, 44-190 Knurów</p>
			</div>

			<div class="flex flex-col">
				<label class="text-xs">Telefon</label>
				<p class="m-0 p-0 px-1">+48 608 323 471</p>
			</div>

			<div class="flex flex-col">
				<label class="text-xs">Adres e-mail</label>
				<p class="m-0 p-0 px-1">kwasniokpatryk@gmail.com</p>
			</div>
		</div>

		<div class="w-full mt-5 mb-2 uppercase font-semibold bg-gray-200 px-3 py-1 rounded">
			Wykształcenie:
		</div>

		<div class="w-full px-3 flex flex-col gap-2">
			<div class="flex flex-row">
				<div class="w-28">
					od 2024
				</div>
				<div class="flex-1">
					Politechnika Śląska, Wydział Automatyki, Elektroniki i Informatyki, kierunek: Informatyka, studia I stopnia
				</div>
			</div>

			<div class="flex flex-row">
				<div class="w-28">
					2020-2024
				</div>
				<div class="flex-1">
					Zespół Szkół im. I. J. Paderewskiego w Knurowie I Liceum Ogólnokształcące - klasa ścisła
				</div>
			</div>
		</div>

		<div class="w-full mt-5 mb-2 uppercase font-semibold bg-gray-200 px-3 py-1 rounded">
			Doświadczenie zawodowe:
		</div>

		<div class="w-full px-3 flex flex-col gap-2">
			<div class="w-full flex flex-row">
				<div class="w-28">
					od 2021
				</div>
				<div class="flex-1">
					Programista stereowizji łazika marsjańskiego <strong class="font-semibold">Knurów Rover</strong>
				</div>
			</div>

			<div class="flex flex-row">
				<div class="w-28">
					2020-2021
				</div>
				<div class="flex-1">
					Główny programista oprogramowania pokładowego i stacji naziemnej satelity <strong class="font-semibold">AGO Team Knurow-1</strong>
				</div>
			</div>
		</div>

		<div class="w-full mt-5 mb-2 uppercase font-semibold bg-gray-200 px-3 py-1 rounded">
			Umiejętności i certyfikaty:
		</div>

		<div class="w-full px-3 flex flex-col gap-2">
			<ol class="px-3 list-disc">
				<li>Język angielski (poziom B2)</li>
				<li>Certyfikat kompetencji pilota Bezzałogowego Statku Powietrznego (kategoria A1/A2/A3)</li>
				<li>Obsługa komputera i pakietu oprogramowania biurowego (Word, Excel, PowerPoint)</li>
				<li>Znajomość języków programowania (Rust, Python, JavaScript, TypeScript, Java, C++)</li>
				<li>Znajomość frameworków i bibliotek JS (Next.js, React, Svelte, Tailwind, Astro, Prisma)</li>
				<li>Bazy danych SQL i NoSQL (MongoDB, Postgresql, MariaDB, MySQL)</li>
			</ol>
		</div>

		<div class="w-full mt-5 mb-2 uppercase font-semibold bg-gray-200 px-3 py-1 rounded">
			Zainteresowania:
		</div>

		<div class="w-full px-3 flex flex-col gap-2">
			<ol class="px-3 list-disc">
				<li>Przemysł lotniczy i kosmiczny</li>
				<li>Filmy i seriale sci-fi</li>
				<li>Fortnite</li>
			</ol>
		</div>

		<div class="w-full flex-1"/>

		<div class="mt-full text-center text-xs text-gray-700 w-2/3">
			Wyrażam zgodę na przetwarzanie moich danych osobowych na potrzeby procesu rekrutacji (zgodnie z Ustawą z dnia 10 maja 2018 r. o ochronie danych osobowych, Dz. U. 2018, paź, 1000).
		</div>

		<div class="w-full flex-1"/>
	</body>
</html>
